@import url("../fonts/inter.css");

body, h1, h2, h3, h4, h5, h6 { 
  font-family: 'Inter', sans-serif; 
}

.layout {
  padding: 50px 20px;
  max-width: 950px;
  margin: auto;

  header {
    display: flex;
    justify-content: center;

    .header-link{
      display: flex;
      align-items: center;
      text-decoration: none;
      border: 1px solid #d8d8d8;
      border-radius: 5px;

      img {
        margin: 0;
      }

      div {
        color: #ac3232;
        padding-left: 30px;
        font-size: 56px;
        line-height: 54px;
        font-weight: bold;
        max-width: 340px;
      }

      &:hover {
        div {
          color: #222;
        }
      }
    }
  }
  .content {
    .links {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      a {
        display: flex;
        background-color: #f5f5f5;
        width: 49%;
        align-items: center;
        color: #222;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 14px;
        border: 1px solid #e4e4e4;

        &:hover {
          background-color: #e4e4e4;
        }

        img {
          width: 24px;
          margin-bottom: 0;
          margin-right: 10px;
        }
      }
    }

    .twitch {
      margin-top: 25px;

      .twitch-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .twitch-card {
          width: 49%;
          margin-bottom: 10px;
          border: 1px solid #e4e4e4;
          border-radius: 5px;

          .twitch-card-head {
            background-color: #f5f5f5;
            font-size: 12px;
            padding: 5px 15px;
            border-bottom: 1px solid #e4e4e4;


            a {
              color: #333;
              text-decoration: none;

              .span-channelName {
                color: #ac3232;
                font-weight: bold;
              }

              .span-twitch {
                color: #9147ff;
                font-weight: bold;
              }

              &:hover {
                color: #ac3232;
              }
            }
          }

          .twitch-card-body {
            padding: 10px;
          }
        }
      }
    }

    .podcast {
      margin-top: 25px;

      .podcast-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .podcast-card {
          display: flex;
          border: 1px solid #d8d8d8;
          justify-content: flex-start;
          align-items: flex-end;
          width: 49%;
          margin-bottom: 10px;
          height: 160px;
          text-decoration: none;
          border-radius: 5px;
          background-size: cover;
          background-position-y: 20%;
          opacity: 0.85;

          div {
            color: #ffffff;
            background-color: #000000;
            margin: 10px;
            font-size: 22px;
            padding: 2px 5px;
            border-radius: 3px;
            font-weight: bold;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .social {
      margin-top: 25px;
    }
  }

  .source {
    text-decoration: none;
    color: #4183c4;
  }
}

@media screen and (max-width: 770px) {
  .layout {
    header {
      .header-link {
        img {
          height: 120px;
        }

        div {
          font-size: 32px;
          line-height: 34px;
          max-width: 240px;
        }
      }
    }

    .content {
      .twitch {
        .twitch-container {
          flex-direction: column;

          .twitch-card {
            width: 100%;
          }
        }
      }

      .links {
        flex-direction: column;

        a {
          width: 100%;
          font-size: 12px;
        }
      }

      .podcast {
        .podcast-container {
          flex-direction: column;

          .podcast-card {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .layout {
    header {
      .header-link {
        img {
          height: 80px;
        }

        div {
          font-size: 16px;
          padding-left: 16px;
          line-height: 18px;
          max-width: 110px;
        }
      }
    }
  }
}
